node_modules
.next
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
coverage
test-results
playwright-report
data/downloads
data/sources
tmp_ebible_index.html
prisma/dev.db
prisma/dev.db-journal

# Sentry Config File
.env.sentry-build-plugin
